<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Awesome Heroes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./sheet3.css">

        <style media="print">
            select {
                border: 0;
                background-color: #fff;
                appearance: none;
            }
        </style>

        <script type="module">
            import { createApp, reactive } from './petite-module.min.js'
            import { AwesomeHero, HeroOptions } from './src/AwesomeHeroes.js'
            //import { Count } from './components/Count.vue'

            const HeroLevelDropDownElement = document.getElementById('hero_level');
            const HeroBackgroundDropDownElement = document.getElementById('hero_background');

            HeroOptions.map((opt) => {
                let option = document.createElement("option");
                option.text = opt.text;
                option.value = opt.value;
                HeroBackgroundDropDownElement.appendChild(option);
            });

            const hero = reactive(AwesomeHero)
            
            HeroBackgroundDropDownElement.addEventListener('change', (event) => {
                hero.hero_key = event.target.value;
            })

            HeroLevelDropDownElement.addEventListener('change', (event) => {
                hero.hero_level = parseInt(event.target.value);
            })
      
            createApp(hero).mount()
        </script>
    
    </head>
    <body>
        <div class="charsheet" v-scope>
            <header class="hero_header">
                <section class="charname">
                    <div class="input-box" id="charname">&nbsp;&nbsp;&nbsp;</div>
                    <label for="charname">Character Name</label>
                </section>
                <section class="misc">
                    <ul>
                        <li>
                            <div class="select-box">
                                <select id="hero_level"><option>1</option><option>3</option></select>
                            </div>
                            <label for="pri_level">Level</label>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <div class="input-box" id="pri_class">{{ pri_class_name }}</div>
                            <label for="pri_class">Class</label>
                        </li>
                        <li>
                            <div class="input-box" id="pri_race">{{ pri_race_name }}</div>
                            <label for="pri_race">Race</label>
                        </li>
                        <li>
                            <div class="select-box">
                                <select id="hero_background">
                                    <option value="" disabled selected>Select a Hero</option>
                                </select>
                            </div>
                            <label for="concept">Background</label>
                        </li>
                    </ul>
                </section>
            </header>
          
            <main style="display:none">
                <section>
                    <section class="attributes">
                        <div class="scores">
                            <ul>
                                <li v-for="(attr, key) of attributes_list">
                                    <div class="score">
                                        <label>{{ attr.text }}</label>
                                        <input :value="attr.score" />
                                    </div>
                                    <div class="modifier">
                                        <input placeholder="+0" :value="attr.modifier" />
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="attr-applications">
                            <div class="inspiration box">
                                <div class="label-container">
                                    <label >Inspiration</label>
                                </div>
                                <input type="checkbox" />
                            </div>
                            <div class="proficiencybonus box">
                                <div class="label-container">
                                    <label >Proficiency Bonus</label>
                                </div>
                                <input placeholder="+2" value="+2"/>
                            </div>
                            <div class="saves list-section box">
                                <ul>
                                    <li v-for="(attr, key) of saves_list">
                                        <label>{{ attr.text }}</label>
                                        <input placeholder="+0" type="text" :value="attr.modifier" />
                                        <input type="checkbox" :checked="attr.is_prof" />
                                    </li>
                                </ul>
                                <div class="label">
                                    Saving Throws
                                </div>
                            </div>
                            <div class="skills list-section box">
                                <ul id="skills_list">
                                    <li v-for="(skill, name) of skills_list">
                                        <label >{{ name }} <span class="skill">({{ skill.type }})</span></label>
                                        <input placeholder="+0" type="text" :value="skill.modifier"/>
                                        <input type="checkbox" :checked="skill.is_prof" />
                                    </li>
                                </ul>
                                <div class="label">
                                    Skills
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="passive-perception box">
                        <div class="label-container">
                            <label for="passiveperception">Passive Wisdom (Perception)</label>
                        </div>
                        <input name="passiveperception" placeholder="10" :value="passive_perception" />
                    </div>
                    <section class="otherprofs">
                        <div>
                            <label for="otherprofs">Proficiencies & Languages</label>
                            <textarea name="otherprofs">{{ hero_proficiencies }}</textarea>
                        </div>
                    </section>
                </section>
                <section>
                    <section class="combat">
                        <div class="armorclass">
                            <div>
                                <label>Armor Class</label>
                                <input placeholder="10" type="text" :value="armor_class"/>
                            </div>
                        </div>
                        <div class="initiative">
                            <div>
                                <label>Initiative</label>
                                <input placeholder="+0" type="text" :value="init_bonus"/>
                            </div>
                        </div>
                        <div class="speed">
                            <div>
                                <label >Speed</label>
                                <input placeholder="30" type="text" :value="speed" />
                            </div>
                        </div>
                        <div class="hp">
                            <div class="regular">
                                <div class="max">
                                    <label>Hit Point Maximum</label>
                                    <input type="text" :value="hit_points"/>
                                </div>
                                <div class="current">
                                    <label >Current Hit Points</label>
                                    <input type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="hitdice">
                            <div>
                                <div class="total">
                                    <label>Total</label>
                                    <input type="text" :value="hit_dice"/>
                                </div>
                                <div class="remaining">
                                    <label>Hit Dice</label>
                                    <input type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="deathsaves">
                            <div>
                                <div class="label">
                                    <label>Death Saves</label>
                                </div>
                                <div class="marks">
                                    <div class="deathsuccesses">
                                        <label>Successes</label>
                                        <div class="bubbles">
                                            <input type="checkbox" />
                                            <input type="checkbox" />
                                            <input type="checkbox" />
                                        </div>
                                    </div>
                                    <div class="deathfails">
                                        <label>Failures</label>
                                        <div class="bubbles">
                                            <input type="checkbox" />
                                            <input type="checkbox" />
                                            <input type="checkbox" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </section>
                      <section class="attacksandspellcasting">
                            <div>
                                <label>Attacks & Spellcasting</label>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Name</th><th>Attk+</th><th>Damage/Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="weapon of weapons_rows">
                                            <td><input type="text" :value="weapon.name" /></td>
                                            <td><input type="text" :value="weapon.attk" /></td>
                                            <td><input type="text" :value="weapon.dmg" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <textarea>{{ spells_list }}</textarea>
                            </div>
                      </section>
                      <section class="equipment">
                            <div>
                                <label>Equipment</label>
                                <textarea>{{ gear_list }}</textarea>
                            </div>
                      </section>
                </section>
                <section>
                    <section class="flavor">
                        <div class="personality">
                            <label for="personality">Personality</label>
                            <textarea name="personality"></textarea>
                        </div>
                        <div class="ideals">
                            <label for="ideals">Ideals</label>
                            <textarea name="ideals"></textarea>
                        </div>
                        <div class="bonds">
                            <label for="bonds">Bonds</label>
                            <textarea name="bonds"></textarea>
                        </div>
                        <div class="flaws">
                            <label for="flaws">Flaws</label>
                            <textarea name="flaws"></textarea>
                        </div>
                    </section>
                    <section class="features">
                        <div>
                            <label for="features">Features & Traits</label>
                            <textarea name="features">{{ traits_list }}</textarea>
                        </div>
                    </section>
                </section>
            </main>

            <div style="page-break-after: always; margin:60px;"></div>

            <header class="combat_header">
                <section class="combat combat_stats">
                    <div class="hitdice">
                        <div>
                            <div class="remaining" style="padding: 4px 2px 0;">
                                <label for="remaininghd">Order #</label>
                                <input name="remaininghd" type="text">
                            </div>
                          </div>
                    </div>
                    <div class="hitdice">
                        <div>
                            <div class="remaining" style="padding: 4px 2px 0;">
                                <label for="remaininghd">Hit Points</label>
                                <input name="remaininghd" type="text">
                            </div>
                          </div>
                    </div>
                    <div class="hitdice">
                        <div>
                            <div class="remaining" style="padding: 4px 2px 0;">
                                <label for="remaininghd">Armor</label>
                                <input name="remaininghd" type="text">
                            </div>
                          </div>
                    </div>
                    <div class="hitdice">
                        <div>
                            <div class="remaining" style="padding: 4px 2px 0;">
                                <label for="remaininghd">Speed</label>
                                <input name="remaininghd" type="text">
                            </div>
                          </div>
                    </div>
                </section>
                <section class="spell_slots">
                    <div>
                        <label>Spell Slots</label>
                        <div class="slots">
                            <div class="slot_level">
                                <i>1</i><i>1</i><i>1</i><i>1</i>
                            </div>
                            <div class="slot_level">
                                <i>2</i><i>2</i>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="combat_conditions">
                    <div>
                        <label>Conditions</label>
                        <textarea></textarea>
                    </div>
                </section>
            </header>

            <h3>Standard Actions</h3>
            <section style="display: flex; flex-flow: row wrap; justify-content: space-between; align-items: stretch; row-gap: 16px; margin-bottom: 16px;" >
                <div v-for="attack of spells_attack_list" class="actions" style="width:32%; border: 1px solid black;border-radius: 10px;" class="actions">
                    <div style="padding: 10px; border-bottom: 1px solid #000; background-color: #ccc; border-radius: 10px 10px 0 0;"><label>{{ attack.label }}</label></div>
                    <div style="padding: 10px;">
                        <textarea>{{ attack.attack }}</textarea>
                        <span style="font-size: 12px;">- Range: {{ attack.range }}</span>
                    </div>
                    <div style="padding: 10px; border-top: 1px solid #000; background-color: #eee; border-radius: 0 0 10px 10px;font-size: 12px;">Damage: {{ attack.damage }}</div>
                </div>
                <div v-for="attack of weapons_attack_list" class="actions" style="width:32%; border: 1px solid black;border-radius: 10px;" class="actions">
                    <div style="padding: 10px; border-bottom: 1px solid #000; background-color: #ccc; border-radius: 10px 10px 0 0;"><label>{{ attack.label }}</label></div>
                    <div style="padding: 10px;">
                        <textarea>{{ attack.attack }}</textarea>
                        <span style="font-size: 12px;">- Range: {{ attack.range }}</span>
                    </div>
                    <div style="padding: 10px; border-top: 1px solid #000; background-color: #eee; border-radius: 0 0 10px 10px; font-size: 12px;">Damage: {{ attack.damage }}</div>
                </div>
                <div v-for="attack of special_action_list" class="actions" style="width:32%; border: 1px solid black;border-radius: 10px;" class="actions">
                    <div style="padding: 10px; border-bottom: 1px solid #000; background-color: #aaa; border-radius: 10px 10px 0 0;"><label>{{ attack.label }}</label></div>
                    <div style="padding: 10px;">
                        <textarea></textarea>
                    </div>
                </div>
            </section>
            <section style="display: flex; flex-flow: row wrap; justify-content: space-between; align-items: stretch; row-gap: 16px;" >
                <div style="width:32%; border: 1px solid black;border-radius: 10px;">
                    <div style="padding: 10px; border-bottom: 1px solid #000; background-color: #eee; border-radius: 10px 10px 0 0;">
                        <label>Dash</label></div>
                    <div style="padding: 10px;"><textarea>Perform a double movement</textarea></div>
                </div>
                <div style="width:32%; border: 1px solid black;border-radius: 10px;">
                    <div style="padding: 10px; border-bottom: 1px solid #000; background-color: #eee; border-radius: 10px 10px 0 0;">
                        <label>Disengage</label></div>
                    <div style="padding: 10px;"><textarea>Move without provoking Attacks of Opportunity this round</textarea></div>
                </div>
                <div style="width:32%; border: 1px solid black;border-radius: 10px;">
                    <div style="padding: 10px; border-bottom: 1px solid #000; background-color: #eee; border-radius: 10px 10px 0 0;">
                        <label>Dodge</label></div>
                    <div style="padding: 10px;"><textarea>Attacks on you take Disadvantage & Dex saves gain Advantage this round</textarea></div>
                </div>
                <div style="width:32%; border: 1px solid black;border-radius: 10px;">
                    <div style="padding: 10px; border-bottom: 1px solid #000; background-color: #eee; border-radius: 10px 10px 0 0;">
                        <label>Help</label></div>
                    <div style="padding: 10px;"><textarea>Your ally gets Advantage on their attack or skill roll this round</textarea></div>
                </div>
                <div style="width:32%; border: 1px solid black;border-radius: 10px;">
                    <div style="padding: 10px; border-bottom: 1px solid #000; background-color: #eee; border-radius: 10px 10px 0 0;">
                        <label>Use an Object/Skill</label></div>
                    <div style="padding: 10px;"><textarea>Perform an action that requires skill or a special object</textarea></div>
                </div>
                <div style="width:32%; border: 1px solid black;border-radius: 10px;">
                    <div style="padding: 10px; border-bottom: 1px solid #000; background-color: #eee; border-radius: 10px 10px 0 0;">
                        <label>Ready</label></div>
                    <div style="padding: 10px;"><textarea>Decide on a trigger, make a Reaction</textarea></div>
                </div>
            </section>

            <h3>Bonus Actions</h3>
            <section style="display: flex; flex-flow: row wrap; justify-content: space-between; align-items: stretch; row-gap: 16px; margin-bottom: 16px;" >
                
            </section>

            <h3>Reactions</h3>
            <section style="display: flex; flex-flow: row wrap; justify-content: space-between; align-items: stretch; row-gap: 16px;" >
                <div style="width:32%; border: 1px solid black;border-radius: 10px;">
                    <div style="padding: 10px; border-bottom: 1px solid #000; background-color: #eee; border-radius: 10px 10px 0 0;">
                        <label>Attack of Opportunity</label></div>
                    <div style="padding: 10px;border-bottom: 1px solid #000;"><textarea>Trigger: Target leaves your reach without performing a Disengage action</textarea></div>
                    <div style="padding: 10px;"><textarea>Action: Get a free melee attack on this target</textarea></div>
                </div>
                <div style="width:32%; border: 1px solid black;border-radius: 10px;">
                    <div style="padding: 10px; border-bottom: 1px solid #000; background-color: #eee; border-radius: 10px 10px 0 0;">
                        <label>Readied Action</label></div>
                        <div style="padding: 10px;border-bottom: 1px solid #000;"><textarea>Trigger: </textarea></div>
                        <div style="padding: 10px;"><textarea>Action: </textarea></div>
                </div>
                <div style="width:32%;">
                
                </div>
            </section>

            <h3>Free Actions</h3>
            <div>
                "Draw/sheathe a weapon": null,
        "Open/close a door": null,
        "Withdraw small item from your pack": null,
        "Pick up an item from the ground": null,
        "Hand an item to another character": null
            </div>
        </div>    
    </body>
</html>